<% include partials/header %>
    <h1>Administration</h1>
    <% include partials/nav %>
    
    <!-- 
          There should be a function here that will 
     	  create a majority of the page depending on the 
     	  request passed in. 
     	  If add, create the add page.
     	  If remove, create the remove page.
     	  If edit, create the edit page.
     -->
     
<br>     
     
<form action="/adminSelect" style="text-align: center">

<button class="returnBtn btn btn-info"> <- Back </button>

</form>

<br> 
     
<div id="adReq"></div>

<script id="addBlock">
	<form id="addItem" style="text-align: center; display: show">
	Would you like to add an Engine, Transmission, or Used Part?
	
	<div id="question1">
	Engine <input type="radio" name="partChoice" onchange="addCheck()"
		id="q1Choice1" value="engine"> |
	Transmission <input type="radio" name="partChoice" onchange="addCheck()"
		id="q1Choice2" value="transmission"> |
	Used Part <input type="radio" name="partChoice" onchange="addCheck()"
		id="q1Choice3" value="usedPart">
	</div>
	
	<div id="additionalInfo"></div>

	</form>
</script>

<script id="engineBlock">
	<br>
	Please Enter a Name for the Engine: <input type="text" id="engineName"> <br>
	Please Select a Series for the Engine: 	B <input type="radio" name="seriesType" onchange="radioCheck()"
		id="q1Choice1" value="b"> |
		K <input type="radio" name="seriesType" onchange="radioCheck()"
			id="q1Choice2" value="k"> |
		D <input type="radio" name="seriesType" onchange="radioCheck()"
			id="q1Choice3" value="d"> <br>
	Please Give a Description for the Engine: <textarea id="engineDescription" rows="5" cols="40" maxlength="250"></textarea> <br>
	Please Enter a Price: <input type="text" id="enginePrice"> <br>
	Please Enter the Miles: <input type="text" id="engineMiles"> <br><br>
	
	<button class="setupBtn btn btn-success">Add Engine</button>
</script>

<script id="transmissionBlock">
	<br>
	Please Enter a Name for the Transmission: <input type="text" id="transmissionName"> <br>
	Please Enter a Price: <input type="text" id="transmissionPrice"> <br>
	Please Enter a Quantity: <input type="text" id="transmissionQuantity"> <br>
	Please Select Manual or Automatic: Manual <input type="radio" name="seriesType" onchange="radioCheck()"
		id="q1Choice1" value="manual"> |
		Automatic <input type="radio" name="seriesType" onchange="radioCheck()"
			id="q1Choice2" value="auto"> <br><br>
	
	<button class="setupBtn btn btn-success">Add Transmission</button>
</script>

<script id="usedPartBlock">
	<br>
	Please Enter a Name for the Part: <input type="text" id="usedPartName"> <br>
	Please Give a Description for the Part: <textarea id="usedPartDescription" rows="5" cols="40" maxlength="250"></textarea> <br>
	Please Enter a Price: <input type="text" id="usedPartPrice"> <br>
	Please Enter a Type: <input type="text" id="usedPartType"> <br><br>
	
	<button class="setupBtn btn btn-success">Add Used Part</button>

</script>

<script id="removeBlock">
	<div id="removeItem" style="text-align: center; display: show">

	Would you like to remove an Engine, Transmission, or Used Part?
			
	<form action="/engineRemove">
	<button type="submit" name="adminReq" value="remove" class="removeSelectBtn btn btn-info">
		Remove an Engine
	</button>
	</form>
	
	<br>
	
	<form action="/transmissionRemove">
	<button type="submit" name="adminReq" value="remove" class="removeSelectBtn btn btn-info">
		Remove a Transmission
	</button>
	</form>

	<br>
	
	<form action="usedPartRemove">
	<button type="submit" name="adminReq" value="remove" class="removeSelectBtn btn btn-info">
		Remove a Used Part
	</button>
	</form>

	<br>
			
	</div>

</script>

<script id="editBlock">
<div id="editItem" style="text-align: center; display: show">

Would you like to remove an Engine, Transmission, or Used Part?
		
<form action="/engineEdit">
<button type="submit" name="adminReq" value="remove" class="removeSelectBtn btn btn-info">
	Edit an Engine
</button>
</form>

<br>

<form action="/transmissionEdit">
<button type="submit" name="adminReq" value="remove" class="removeSelectBtn btn btn-info">
	Edit a Transmission
</button>
</form>

<br>

<form action="usedPartEdit">
<button type="submit" name="adminReq" value="remove" class="removeSelectBtn btn btn-info">
	Edit a Used Part
</button>
</form>

<br>
		
</div>
</script>

<script>
window.onload = function(){
	pageSetup();
}

function addCheck() {
	if(document.getElementById("q1Choice1").checked == true){
		
		$("#additionalInfo").empty();
		$("#additionalInfo").append(document.getElementById('engineBlock').innerHTML);
	}
	else if(document.getElementById("q1Choice2").checked == true){
		
		$("#additionalInfo").empty();
		$("#additionalInfo").append(document.getElementById('transmissionBlock').innerHTML);
	}
	else if(document.getElementById("q1Choice3").checked == true){
		
		$("#additionalInfo").empty();
		$("#additionalInfo").append(document.getElementById('usedPartBlock').innerHTML);
	}
}

function removeCheck() {
	if(document.getElementById("q1Choice1").checked == true){
		
		$("#additionalInfo").empty();
		$("#additionalInfo").append(document.getElementById('removeEngineBlock').innerHTML);
	}
	else if(document.getElementById("q1Choice2").checked == true){
		
		$("#additionalInfo").empty();
		$("#additionalInfo").append(document.getElementById('removeTransmissionBlock').innerHTML);
	}
	else if(document.getElementById("q1Choice3").checked == true){
		
		$("#additionalInfo").empty();
		$("#additionalInfo").append(document.getElementById('removeUsedPartBlock').innerHTML);
	}
}

function typeCheck() {
	if(document.getElementById("q1Choice1").checked == true){
		document.getElementById("q1Choice1").value = 1;
		document.getElementById("q1Choice2").value = 0;
		document.getElementById("q1Choice3").value = 0;
	}
	else if(document.getElementById("q1Choice2").checked == true){
		document.getElementById("q1Choice1").value = 0;
		document.getElementById("q1Choice2").value = 1;
		document.getElementById("q1Choice3").value = 0;
	}
	else if(document.getElementById("q1Choice3").checked == true){
		document.getElementById("q1Choice1").value = 0;
		document.getElementById("q1Choice2").value = 0;
		document.getElementById("q1Choice3").value = 1;
	}
}

function pageSetup() {
	var pageReq = getUrlVars()["adminReq"];
	if (pageReq == "add"){
		document.getElementById("adReq").innerHTML = document.getElementById('addBlock').innerHTML;
	}
	else if (pageReq == "remove"){
		document.getElementById("adReq").innerHTML = document.getElementById('removeBlock').innerHTML;
	}
	else if (pageReq == "edit"){
		document.getElementById("adReq").innerHTML = document.getElementById('editBlock').innerHTML;
	}
}

function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
        vars[key] = value;
    });
    return vars;
}
</script>

<% include partials/footer %>