.image{
  border-radius: 20px;
}

.itemContainer{
  background-color: rgba(250,250,250,0.75);
  display: block;
  padding: 15px;
}

#name{
	font-weight: bold;
}

#desc{
	padding-left: 50px;
}

#price{
	color: red;
	font-weight: bold;
}

#dollar{
	color: red;
	font-weight: bold;
}

#viewCart{
	float: right;
}